#welcome-title {
    color: rgb(173, 172, 172);
    font-style: italic;
}

#logo {
    font-family: 'Pacifico', cursive;
    color: #d61010;
}

hr {
    border-width: 5px;
}

.lead {
    color: #d61010;
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    background-color: white;
}

  #survey-title {
    font-family: 'Pacifico', cursive;
    color: #d61010;
    margin-top: 20px;
}

h3 {
    color: rgb(173, 172, 172);   
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

h3,
h5 {
    color: rgb(173, 172, 172);   
    font-weight: bold;
}

h5 {
    margin-top: 10px;
}

h6 {
    color: rgb(87, 86, 86);   
    font-style: italic;
    font-weight: bold;
}
  
input {
    margin-top: 20px;
}

#exampleFormControlInput1 {
    margin-top: 0px;
}

.my-4 {
    background-color: #d61010;
}

#exampleFormControlSelect {
    width: 50%;;
}

label {
    margin-bottom: 0;
}

#submit {
    background-color: #d61010;
    border: none;
}

#submit:hover {
    background-color: #b80c0c;
    border: none;
}